*.pyc
*.sw[op]
__pycache__/
*/__pycache__/

*.log
test*/

ckpt
plots/*
!plots/

kitti_odom*

kitti_benchmark/*.csv*
kitti_benchmark/results/*
kitti_benchmark/results/*/*
!kitti_benchmark/results/README.md
